[MASTER]
# Basic settings
disable=
    c0116,C0114,C0115,too-few-public-methods,E0213,W0621,E1101
output-format=colorized
score=yes
extension-pkg-whitelist=
    pydantic

[FORMAT]
max-line-length=120
max-module-lines=1000

[BASIC]
# Naming styles
function-naming-style=snake_case
variable-naming-style=snake_case
attr-naming-style=snake_case
argument-naming-style=snake_case
method-naming-style=snake_case
class-naming-style=PascalCase
const-naming-style=UPPER_CASE
module-naming-style=snake_case

[DESIGN]
# Complexity
max-args=5
max-locals=10
max-returns=6
max-branches=12
max-statements=50
max-parents=7
max-attributes=7
max-public-methods=10
